<!DOCTYPE html>
<html lang="it">

<head>
    <th:block th:replace="fragments :: src-head"></th:block>
    <title>Corsi di Laurea</title>
</head>

<body>
    <th:block th:replace="fragments :: navbar(corsi)"></th:block>
    
      <div th:if="${#lists.isEmpty(DegreesList)}">
	  	<h1>Lista non disponibile, riprovare più tardi</h1>
	  </div>
	  <div th:unless="${#lists.isEmpty(DegreesList)}">
	        <table class="table my-3">
	          <thead>
	            <tr class="text-center">
	              <th>Nome</th>
	              <th>Tipologia</th>
	              <th>Indirizzo</th>
	              <th>Dipartimento</th>
	              <th>E-Mail</th>
	              <th>Sito Web</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="d : ${DegreesList}">
	              <td class="bg-success text-light fw-bold" th:text="${d.name}"></td>
	              <td class="bg-secondary text-light text-center" th:text="${d.level}"></td>
	              <td th:text="${d.address}"></td>
	              <td class="text-center">
	              		<a th:href="@{|/dipartimenti/${d.getDepartments.id}|}" th:text="${d.getDepartments.name}"></a>
	              </td>
	              <td class="text-center" th:text="${d.email}"></td>
	              <td class="text-center" th:text="${d.website}"></td>
	            </tr>
	          </tbody>
	        </table>
	   </div>
</body>
</html>