<!doctype html>
<html lang="it">
  <head>
    <th:block th:replace="fragments :: src-head"></th:block>
	<title>Dipartimenti</title>
  </head>
  
  <body>
      <nav th:replace="fragments :: navbar('dipartimenti')"></nav>

	  <div class="container">
	    <h1>Ecco i nostri Dipartimenti:</h1>
	    <div class="container px-6">
	    	<ul class="list-group">
	       		<li class="list-group-item " th:each="department : ${DepartmentsList} " th:text="${department.getName()}"></li>
	    	</ul>
	  </div>
  </body>
</html>