<!DOCTYPE html>
<html lang="it">

<head>
    <th:block th:replace="fragments :: src-head"></th:block>
    <title th:text="${teacher.getFullName()}"></title>
</head>

<body>
	<th:block th:replace="fragments :: navbar(insegnanti)"></th:block>

	<div class="container col-3 my-5">
		<h1 class="text-center" th:text="${teacher.getFullName()}"></h1>
		<img class="w-100" src="/img/profile_ph.jpg">
		<div  class="bg-dark text-light border">
			<h6 class="text-center my-3">Telefono</h6>
			<p class="text-light text-center" th:text="${teacher.phone}"></p>
		</div>
		<div  class="bg-light border">
			<h6 class="text-center my-3">E-Mail</h6>
			<p class="text-center" th:text="${teacher.email}"></p>
		</div>
		<div  class="bg-light border">
			<h6 class="text-center my-3">Indirizzo Ufficio - Num.</h6>
			<p class="text-center" th:text="${teacher.officeAddress} + ' - Stanza ' + ${teacher.officeNumber}"></p>
		</div>
	</div>
	
	<div class="container">
		<h3 th:text="'Corsi tenuti da ' + ${teacher.getFullName()} + ':'"></h3>
		 <table class="table my-3">
	          <thead>
	            <tr>
	              <th>Nome</th>
	              <th>Descrizione</th>
	              <th class="text-center">Periodo</th>
	              <th class="text-center">Anno</th>
	              <th class="text-center">C.F.U.</th>
	              <th class="text-center">Sito Web</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="tc : ${teacher.course}">
	              <td class="fw-bold bg-success text-light" th:text="${tc.name}"></td>
	              <td class="bg-secondary text-light" th:text="${tc.description}"></td>
	              <td class="text-center" th:text="${tc.period}"></td>
	              <td class="text-center" th:text="${tc.year}"></td>
	              <td class="fw-bold text-center" th:text="${tc.cfu}"></td>
	              <td class="text-center" th:text="${tc.website}"></td>
	            </tr>
	          </tbody>
	      </table>
	</div>
	
</body>